@import "tailwindcss";

@theme {
  --color-primary: #2bee79;
  --color-background-light: #f6f8f7;
  --color-background-dark: #102217;
  --color-surface-dark: #182820;
  --color-surface-darker: #0b140f;

  --font-display: var(--font-lexend), sans-serif;
}

@utility custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(43, 238, 121, 0.3);
    border-radius: 10px;
  }
}

@utility text-shadow {
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}